

form {
    background-color: #9b7865;
    text-align: center;
    overflow: auto;
}

label {
    width: 120px;
    text-align: right;
}

input {
    width: 150px;
    float: right;
}

.employeeIn {
    min-width: 20%;
    margin: 10px 30% 10px 30%;
    padding: 5px;
}

.formItem {
    width: 280px;
    float: left;
    margin: 5px;
}