
body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header {
    text-align: center;
}

form {
    background-color: #9b7865;
    overflow: auto;
    width: 80%;
    margin: auto;
    padding: 20px;
}

input {
    width: 16%;
    margin: auto;
}

.employeeButton {
    float: right;
    margin: 10px;
    padding: 5px;
    border-radius: 5px;

}

.inputBoxes {
    display: flex;
}